html {
    width: 100vw;
    height: 100vh;
}

body {
    color: white;
    background-color: #070F1C;
    background-image: url("/static/images/logo.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 90% 90%;
}

.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main {
    max-width: 30rem;
}

.color-black {
    color: black;
}

.nav-color {
    background: #5CB85C;
    border-color: #4CAE4C;
    border-radius: unset;
}

#menulogo {
    width: 100%;
    height: 100%;
}

.card {
    position: relative;
    left: 100px;
    width: 400px;
    height: 1000px;
}

.list-group-item{
    color: black
}

.card-title{
    font-size: large
}

#gamecodetext {
    font-weight: bold;
}