
/* TODO*/
/* GA WEG YUNUS, JE HEBT HIER NIKS TE ZOEKEN*/

html {
    width: 100vw;
    height: 100vh;
}

body {
    color: white;
    background-color: #070F1C;
    background-image: url("/static/images/logo.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 90% 90%;
}

.color-black {
    color: black;
}

.center{
    text-align: center;
}

.answerbtn{
    width: 70%;
    margin: 0 auto;
}

.nav-color {
    background: #5CB85C;
    border-color: #4CAE4C;
    border-radius: unset;
}

#menulogo {
    width: 100%;
    height: 100%;
}

.list-group-item{
    color: black;
    overflow: hidden;
}

.score {
    float: right;
    font-weight: bolder;
}

.form-control {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}