{% extends "layout.html" %}
{% block title %}
    404
{% endblock %}
{% block main %}

{% if error is defined %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}

<div class="row form-horizontal">
    <div class="col-12 text-center">
        <h1>404. Page not found</h1>
        <h4>We can't find the page you're looking for...</h4>
        <p>Why don't just go back to the <a href={{ url_for("index") }}>home page</a></p>
    </div>
</div>
{% endblock %}
