{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block main %}

<!-- Error alert -->
{% if error is defined %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}

<!-- Create a new game form screen -->
<div class="row form-horizontal">
    <form class="col-md-5 col-6 col-offset-3 col-md-offset-1" method="post" action="{{ url_for('index') }}">
        <h1>Create a game</h1>
        <input type="text" class="form-control" name="username" placeholder="Username">
        Difficulty:
        <select name="difficulty" class="color-black">
            <option value="random" selected>Random</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <p></p>
        Category:
        <select name="category" class="color-black">
            <option value="random" selected>Random</option>
            {% for category in CATEGORIES %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <p></p>
        <button type="submit" name="action" class="btn btn-success mt-1"value="creategame">Create Game
        </button>
    </form>

    <!-- Join Game form screen -->
    <form class="col-md-5 col-6 offset-3" method="post" action="{{ url_for('index') }}">
        <h1>Join existing game</h1>
        <input type="text" class="form-control" name="username" placeholder="Username">
        <input type="text" class="form-control" name="gamecode" placeholder="Game Code">
        <button type="submit" name="action" class="btn btn-success" value="joingame">Join Game
        </button>
    </form>
</div>

{% endblock %}
