{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block main %}

<!-- Error alert -->
{% if error is defined %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}

<!-- Create a new game form screen -->
<div class="row form-horizontal">
    <form class="col-md-5 col-6 col-offset-3 col-md-offset-1" method="post" action="{{ url_for('index') }}">
        <h1>Create a new quiz</h1>
        <input type="text" class="form-control" name="username" placeholder="Username">
        Difficulty: 
        <select name="difficulty" class="selectpicker">
            <option value="random" selected>Random</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        Category:
        <select name="category" class="selectpicker">
            <option value="random" selected>Random</option>
            {% for category in CATEGORIES %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        Number of questions:<input type="text" class="form-control" name="amount"
                                   placeholder="Choose number between 1 and 50" value="10">
        <button type="submit" name="action" class="btn btn-success mt-1"
                value="creategame">Create Game
        </button>
         <a class="btn btn-primary" id="questionbutton1" data-toggle="collapse" href="#Info1" role="button" aria-expanded="false" aria-controls="Info1">
         ?
        </a>
        
        <div class="collapse" id="Info1">
            <div class="card card-body">
            Choose a username, difficulty and catagory to create a new quiz. Share the game code with your friends to quiz together.
            </div>
        </div>

        
        <div class="panel panel-primary mt-3" id="panel">
            <div class="panel-heading">How To Play</div>
                <div class="panel-body">
                You have to score the most points. Each question you get right will get you 10 points. You have 10 seconds per question.
            </div>
        </div>

    </form>

    <!-- Join Game form screen -->
    <form class="col-md-5 col-6 offset-3" method="post" action="{{ url_for('index') }}">
        <h1>Join existing quiz</h1>
        <input type="text" class="form-control" name="username" placeholder="Username">
        <input type="text" class="form-control" name="gamecode" placeholder="Game Code">
        <button type="submit" name="action" class="btn btn-success" value="joingame">Join Game
        </button>
        <a class="btn btn-primary" id="questionbutton2" data-toggle="collapse" href="#Info2" role="button" aria-expanded="false" aria-controls="Info2">
        ?
        </a>
        <div class="collapse" id="Info2">
            <div class="card card-body">
                Choose a username and join an existing quiz using the game code.
             </div>
        </div>
    </form>


</div>
{% endblock %}


    margin-top: 70px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
