{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block main %}
        <form id="join" action="/join" method="get">
                    <form class="form-horizontal">
                            <fieldset class="form-group "></fieldset>
                            <fieldset class="form-group">
                                <div class="col-lg-4  col-lg-offset-1">
                                    <h1>Create a new game</h1>
                                    <input type="text" class="form-control" id="Username" placeholder="Username">
                                    <p></p>
                                    <a href="#" class="btn btn-success">Create New Game!</a>
                                </div>
                                <div class="col-lg-4 col-lg-offset-2">
                                    <h1>Join an existing game</h1>
                                    <input type="text" class="form-control" id="Username" placeholder="Username">
                                    <p></p>
                                    <input type="text" class="form-control" id="Game_Code" placeholder="Game Code">
                                    <p></p>
                                    <a href="#" class="btn btn-success">Join!</a>
                                </div>
                            </fieldset>
                    </form>
        </form>
{% endblock %}
