<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1, width=device-width" name="viewport" />
    <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://bootswatch.com/3/darkly/" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Vrae Vrae: {% block title %}{% endblock %}</title>
  </head>
  <body class="body">
        <nav class="navbar navbar-inverse nav-color">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href={{ url_for('index') }}>
                        <img alt="Vrae Vrae logo" id="menulogo"
                             src="{{ url_for('static', filename='images/logo.svg') }}">
                    </a>
                </div>
            </div>
        </nav>
        <main class="container-fluid">
            {% block main %}
            {% endblock %}
        </main>
  </body>
</html>
