<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1, width=device-width" name="viewport" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
    <meta charset="utf-8"/>
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    
    <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
      
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
    
    <title>Vrae Vrae: {% block title %}{% endblock %}</title>
  </head>
  <body class="body">
      <div class="container">
        <nav class="navbar navbar-default">
              <div class="container-fluid">
                  <div class="navbar-header">
                      <a class="navbar-brand" href="{{ url_for('index') }}"><span class="red">VraeVrae</span></a>
                  </div>
                  <div class="collapse navbar-collapse" id="navbar">
                          <ul class="nav navbar-nav">
                              <li><a href="{{ url_for('index') }}">Home</a></li> </ul>
                  </div>
              </div>
          </nav>
          <main>
              {% block main %}{% endblock %}
          </main>
          
      </div>

  </body>
</html>
