{% extends "layout.html" %} 
{% block title %} 
Lobby
{% endblock %} 
{% block main%}
                   

                        
                {% if owner %}
                    <div class="col-lg-4 col-lg-offset-1">
                        <a href="#" id="start" class="btn btn-success"><h2><strong>Start Game</strong></h2></a>
                    </div>
                {% endif %}



<div class="container bootstrap snippet">
  <div class="header">
    <h3 class="prj-name">
        <span class="fa fa-users fa-2x"></span><br>
        Users 
    </h3>
  </div>

  
<div>
  <ul class="list-group">
   {% for user in users %}<li class="list-group-item">{{user.name}}</li>{% endfor %}
</ul>
</div>    
</div>                                                            

{% endblock %}
