{% extends "layout.html" %} 
{% block title %} 
Quiz 
{% endblock %} 
{% block main%}

<script type="text/javascript" src="/static/quiz.js"></script>

<div class="well well-lg"><h1>{{ question.text }}</h1></div>

<div>
  {% for answer in answers %}
  <button id="Button" class="btn btn-primary btn-lg btn-block" onclick="send_answer('A');">
    {{ answer.text }}
  </button>
  {% endfor%}
</div>

<div style="clear:both;"></div>

<div class="progress progress-striped active">
  <div id="quiz-progress" class="progress-bar" style="width:100%" value="100" max="100" id="progressBar"></div>
</div>

{% endblock %}
