{% extends "layout.html" %} 
{% block title %} 
Scoreboard
{% endblock %}
{% block main %}
    <div class="col-lg-4 col-lg-offset-1">
        <div class="header">
            <h3 class="prj-name">
                <span class="fa fa-users fa-2x"></span><br>
                Scoreboard
            </h3>
        </div>
        <ul class="list-group">
            {% for user in users %}
                <li class="list-group-item"><span class="naam">{{ user.name }}</span><span
                        class="score">{{ user.score }}</span></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
        <form action="{{ url_for('index') }}">
            <div class="form-group">
                <button class="btn btn-success" type="submit">Return to home page</button>
            </div>
        </form>
    </div>

   <div class="answercheck">
        <ul>
            {% for question in questions  %}
            <li><a>
            <label class="question" onclick="toggle_visibility()">{{question.text}}</label>
            {% for answer in answers%}
            {{answer}} 
            {% endfor %}
            {% endfor %}
            </a></li>
        </ul>
    </div>
    
<script type="text/javascript" src="/static/scoreboard.js"></script>
{% endblock %}
