<div id="vue_question">
  <!-- Question screen -->
  <div class="well well-lg center" v-cloak>
    <h1 class="color-black" v-html="question"></h1>
  </div>

  <!-- Progress bar -->
  <div class="progress progress-striped active" v-cloak>
    <div id="quiz-progress" class="progress-bar" style="width:100%;"></div>
  </div>

  <div id="update" v-cloak>
    <input type="hidden" id="hidden_answer" name="action" value="answer" />
    <button
      class="btn btn-primary btn-lg btn-block answerbtn"
      v-for="answer in answers"
      v-html="answer.answer_text"
      v-on:click="send_answer(answer.answer_id)"
    ></button>
  </div>
</div>
