<!-- question component: this piece of code gets templated by Vue instance in quiz.js  -->
<div id="vue_question" v-cloak>
  <!-- the question itself -->
  <div class="well well-lg center">
    <h1 class="color-black" v-html="question.text"></h1>
  </div>

  <!-- progress bar -->
  <progress
    id="quiz-progress"
    :value="timer"
    max="10"
    style="width:100%"
  ></progress>

  <!-- answers -->
  <div>
    <!-- list of buttons: looped by v-for -->
    <button
      class="btn btn-primary btn-lg btn-block answerbtn"
      v-for="answer in answers"
      v-html="answer.answer_text"
      v-on:click="send_answer(answer.answer_id)"
    ></button>
  </div>
</div>
